@use '../../styles/variables' as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    padding: $spacing-lg;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
}
